main {}
/* 첫번째 section */
main .main_title {
    width: 100%; 
    position: relative;
    background: #FDFBF4;
}
main .main_title iframe {
    width: 100%;
    height: 100vh;
    position: relative;
}
/* 두번째 section */
main .shop {
    background: #FDFBF4;
    padding: 120px 0;
}
main .shop .shop_container {
    width: 1440px;
    margin: 0 auto;
}
main .shop .shop_container .slide_wrap{
    display: flex; justify-content: space-between;
}
main .shop .shop_container .slide_wrap .filter{
    padding-top: 100px;
}
/* filter gradient 개별 class */
.filter_gradient1 {
    background: linear-gradient(rgba(255,255,255,0) 0%, rgba(0,0,0,1) 15%,rgba(255,255,255,0) 65%);
    background-clip: text; color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.filter_gradient2 {
    background: linear-gradient(rgba(255,255,255,0) 5%, rgba(0,0,0,1) 30%,rgba(255,255,255,0) 70%);
    background-clip: text; color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.filter_gradient3 {
    background: linear-gradient(rgba(255,255,255,0) 8%, rgba(0,0,0,1) 40% ,rgba(255,255,255,0) 65%);
    background-clip: text; color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.filter_gradient4 {
    background: linear-gradient(rgba(255,255,255,0) 10%, rgba(0,0,0,1) 45%,rgba(255,255,255,0) 65%);
    background-clip: text; color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.filter_gradient5 {
    background: linear-gradient(rgba(255,255,255,0) 12%, rgba(0,0,0,1) 55%,rgba(255,255,255,0) 75%);
    background-clip: text; color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.filter_gradient6 {
    background: linear-gradient(rgba(255,255,255,0) 15%, rgba(0,0,0,1) 60%,rgba(255,255,255,0) 95%);
    background-clip: text; color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* class 끝 */
main .shop .shop_container .slide_wrap .filter li{
    margin-bottom: 12px;
}
main .shop .shop_container .slide_wrap .filter li:last-child {
    margin-bottom: 0;
}
main .shop .shop_container .slide_wrap .filter li a.active_filter{
    font-size: 1.5rem;
    font-family: 'SunBatang-Bold';
    text-decoration: 1px underline;
}
main .shop .shop_container .slide_wrap .filter li a.active_filter img {display: inline;}
main .shop .shop_container .slide_wrap .filter li a{
    width: max-content;
    display: flex; align-items:end;
    font-size: 1.125rem;
    font-family: 'SunBatang-Medium';
    gap: 6px;
}
main .shop .shop_container .slide_wrap .filter li a img{
    display: none; margin-bottom: 4px;
}
main .shop .shop_container .slide_wrap .product_wrap {}
main .shop .shop_container .slide_wrap .product_wrap .product_category {
    display: flex; justify-content: space-between;
    margin-bottom: 12px;
}
main .shop .shop_container .slide_wrap .product_wrap .product_category .left_category {}
main .shop .shop_container .slide_wrap .product_wrap .product_category .left_category a {
    display: flex; align-items: center;
    margin-right: 4px; font-size: 1.125rem; font-weight: 500;
    color: #aaa;
}
main .shop .shop_container .slide_wrap .product_wrap .product_category .left_category a img {
    filter: invert(50%);
    width: 20px; height: 20px;
}
/* 전체상품 바로가기 hover */
main .shop .shop_container .slide_wrap .product_wrap .product_category .left_category a:hover {
    color: #000;
}
main .shop .shop_container .slide_wrap .product_wrap .product_category .left_category a:hover img {
    filter: invert(0);
}
/* hover 이벤트 끝 */
main .shop .shop_container .slide_wrap .product_wrap .product_category .right_category {}
main .shop .shop_container .slide_wrap .product_wrap .product_category .right_category a {
    color: #c0c0c0;
}
main .shop .shop_container .slide_wrap .product_wrap .product_category .right_category a:nth-child(1)::after, main .shop .shop_container .slide_wrap .product_wrap .product_category .right_category a:nth-child(2)::after {
    content: ''; display: inline-block;
    width: 1px; height: 12px; background: #c0c0c0;
    margin: 0 12px;
}
main .shop .shop_container .slide_wrap .product_wrap .product_category .right_category .active_category{
    color: #000;
}
/* 슬라이드 영역 시작 */
main .shop .shop_container .slide_wrap .product_wrap .product_swiper {
    position: relative;
    border: 1px solid red;
    width: 1166px;
}
main .shop .shop_container .slide_wrap .product_wrap .product_swiper .swiper-wrapper{
    height: 479px;
}
main .shop .shop_container .slide_wrap .product_wrap .product_swiper .swiper-wrapper .swiper-slide {
    display: flex; gap: 90px;
}
main .shop .shop_container .slide_wrap .product_wrap .product_swiper .swiper-wrapper .swiper-slide .product{
    width: 316px;
    position: relative;
}
main .shop .shop_container .slide_wrap .product_wrap .product_swiper .swiper-wrapper .swiper-slide .product .pd {}
main .shop .shop_container .slide_wrap .product_wrap .product_swiper .swiper-wrapper .swiper-slide .product .pd > p{
    font-size: 0.875rem; line-height: 1.4; color: #aaa;
    text-align: right; position: absolute; right: 0; bottom: 0;
}
main .shop .shop_container .slide_wrap .product_wrap .product_swiper .swiper-wrapper .swiper-slide .product .pd .thumnail{
    margin-bottom: 4px;
}
main .shop .shop_container .slide_wrap .product_wrap .product_swiper .swiper-wrapper .swiper-slide .product .pd .thumnail img{}
main .shop .shop_container .slide_wrap .product_wrap .product_swiper .swiper-wrapper .swiper-slide .product .pd .product_name{}
main .shop .shop_container .slide_wrap .product_wrap .product_swiper .swiper-wrapper .swiper-slide .product .pd .product_name h2{
    font-size: 1.125rem; font-weight: 600; margin-bottom: 3px;
}
main .shop .shop_container .slide_wrap .product_wrap .product_swiper .swiper-wrapper .swiper-slide .product .pd .product_name p{
    font-size: 0.875rem;
}
/* 퍼퓸노트 btn */
main .shop .shop_container .slide_wrap .product_wrap .product_swiper .swiper-wrapper .swiper-slide .product .perfume_note_btn {
    display: flex; align-items: center;
    position: absolute; left: 10px; top: 10px;
}
main .shop .shop_container .slide_wrap .product_wrap .product_swiper .swiper-wrapper .swiper-slide .product .perfume_note_btn img {}
main .shop .shop_container .slide_wrap .product_wrap .product_swiper .swiper-wrapper .swiper-slide .product .perfume_note_btn span {
    font-size: 0.75rem; text-decoration: underline;
    color: #4d4d4d;
}
/* 퍼퓸노트 시작 */
main .shop .shop_container .slide_wrap .product_wrap .product_swiper .swiper-wrapper .swiper-slide .product .perfume_note {
    position: absolute; left: 10px; top: 26px; right: 10px;
    background: rgba(253,251,244, 0.8) ;
    padding: 8px;
    border: 1px solid #4d4d4d;
    display: none;
}
main .shop .shop_container .slide_wrap .product_wrap .product_swiper .swiper-wrapper .swiper-slide .product .perfume_note p:first-child {
    margin-top: 0;
}
main .shop .shop_container .slide_wrap .product_wrap .product_swiper .swiper-wrapper .swiper-slide .product .perfume_note p {
    color: #4d4d4d; font-size: 0.75rem;
    text-decoration: underline;
    margin-top: 4px; line-height: 1.4;
}
/* 퍼퓸노트 끝 */
/* shop 장바구니 버튼 */
main .shop .shop_container .slide_wrap .product_wrap .product_swiper .swiper-wrapper .swiper-slide .product .shop_cart_btn {
    position: absolute; top: 387px; right: 10px;
}
main .shop .shop_container .slide_wrap .product_wrap .product_swiper .swiper-wrapper .swiper-slide .product .shop_cart_btn img {}
/* 슬라이드 영역 끝 */
/* 슬라이드 스크롤, 버튼 */
main .shop .shop_container .slide_wrap .product_wrap .product_swiper .swiper-scrollbar{}
main .shop .shop_container .slide_wrap .product_wrap .product_swiper .swiper-button-next{
    border: 1px solid red;
    width: 60px; height: 60px;
    background: url(../images/icon_page_down.png) center / cover;
}
.swiper-button-next:after, .swiper-button-prev:after {display: none;}
/* 세번째 section */
main .set {
    display: flex;
}
main .set .set_bnr{
    width: 50%; height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../images/img_bnr.jpg);
    background-position: center;
    background-size: cover;
    display: flex; justify-content: space-between;
    padding: 40px;
    position: relative;
}
main .set .set_bnr .left_wrap{}
main .set .set_bnr .left_wrap h2{
    font-family: 'SunBatang-Light'; font-size: 1.875rem;
    color: #fff;
}
main .set .set_bnr .left_wrap > a {
    width: 60px; height: 60px;
    position: absolute;
    bottom: 40px; left: 50%; transform: translateX(-50%);
}
main .set .set_bnr .left_wrap > a img {}
main .set .set_bnr .right_wrap{}
main .set .set_bnr .right_wrap p:nth-child(1){
    margin-bottom: 10px;
}
main .set .set_bnr .right_wrap p{
    text-align: right; color: #fff;
    font-size: 0.875rem; line-height: 1.4;
    font-weight: 300;
}
main .set .set_slide{}
main .set .set_slide .swiper-button-prev{}
main .set .set_slide .swiper-wrapper{
    display: flex;
}
main .set .set_slide .swiper-wrapper .swiper-slide{
    position: relative;
}
main .set .set_slide .swiper-wrapper .swiper-slide .gift_product{}
main .set .set_slide .swiper-wrapper .swiper-slide .gift_product .gift_img{}
main .set .set_slide .swiper-wrapper .swiper-slide .gift_product .gift_img img{}
main .set .set_slide .swiper-wrapper .swiper-slide .gift_product h2{
    font-size: 1.125rem; font-weight: 600;
    margin-bottom: 3px;
}
main .set .set_slide .swiper-wrapper .swiper-slide .gift_product h3{
    font-size: 0.875rem;
    margin-bottom: 12px;
}
main .set .set_slide .swiper-wrapper .swiper-slide .gift_product p{
    font-size: 0.875rem;
    line-height: 1.4; color: #aaa;
}
main .set .set_slide .swiper-wrapper .swiper-slide > a:last-child{
    font-size: 0.75rem; color: #aaa;
    display: flex; align-items: center;
    position: absolute; bottom: 0; right: 0;
}
main .set .set_slide .swiper-wrapper .swiper-slide > a img{}
main .set .set_slide .swiper-button-next{}
/* 네번째 section */
main .journal {}
main .journal .journal_wrap{}
main .journal .journal_wrap .juournal_filter{}
main .journal .journal_wrap .juournal_filter li{}
main .journal .journal_wrap .juournal_filter li a{}
main .journal .journal_wrap .juournal_filter li.journal_act{}
main .journal .journal_wrap .journal_contents{}
main .journal .journal_wrap .journal_contents .journal_img{}
main .journal .journal_wrap .journal_contents .journal_img .swiper-button-prev{}
main .journal .journal_wrap .journal_contents .journal_img .swiper-wrapper{}
main .journal .journal_wrap .journal_contents .journal_img .swiper-wrapper .swiper-slide{}
main .journal .journal_wrap .journal_contents .journal_img .swiper-wrapper .swiper-slide a {}
main .journal .journal_wrap .journal_contents .journal_img .swiper-wrapper .swiper-slide a img{}